/* general box area styling */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

.home {
  max-width: 1520px;
  margin: auto;
}

.grid {
  display: grid;
  margin: auto;
  position: relative;
  max-width: 1520px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  grid-template-areas:
    "global asia europe"
    "namerica camerica samerica"
    "africa oceania meast";
  z-index: 3;
}

.box {
  font-size: 24px;
  height: 340px;
  padding: 30px;
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  transition: 0.5s;
  overflow-y: scroll;
}

.box a {
  color: inherit;
  text-decoration: none;
}

.box a:hover {
  transition: 0.4s;
  margin-left: 10px;
}

/* alphabetized continent boxes */

.africa {
  color: #d7986b;
  background-color: #ffcfac;
  grid-area: africa;
}

.africa:hover {
  box-shadow: 10px 10px 0px #d7986b;
}

.asia {
  color: #e0be14;
  background-color: #f8e16b;
  grid-area: asia;
}

.asia:hover {
  box-shadow: 10px 10px 0px #e0be14;
}

.centralamerica {
  color: #e78b36;
  background-color: #ffbb7c;
  grid-area: camerica;
}

.centralamerica:hover {
  box-shadow: 10px 10px 0px #e78b36;
}

.europe {
  color: #69b42f;
  background-color: #bbe19e;
  grid-area: europe;
}

.europe:hover {
  box-shadow: 10px 10px 0px #69b42f;
}

.global {
  color: #b1bf05;
  background-color: #eaf473;
  grid-area: global;
}

.global:hover {
  box-shadow: 10px 10px 0px #b1bf05;
}

.middleeast {
  color: #9843ac;
  background-color: #c592d1;
  grid-area: meast;
}

.middleeast:hover {
  box-shadow: 10px 10px 0px #9843ac;
}

.northamerica {
  color: #cc585e;
  background-color: #f4a0a5;
  grid-area: namerica;
}

.northamerica:hover {
  box-shadow: 10px 10px 0px #cc585e;
}

.oceania {
  color: #5271c1;
  background-color: #9eb1e1;
  grid-area: oceania;
}

.oceania:hover {
  box-shadow: 10px 10px 0px #5271c1;
}

.southamerica {
  color: #4598b3;
  background-color: #9ed1e1;
  grid-area: samerica;
}

.southamerica:hover {
  box-shadow: 10px 10px 0px #4598b3;
}

/* popups */

/* general popup stylings */

.tour .btn {
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: inline-block;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  color: #f2994a;
  border: 2px solid #f2994a;
  border-radius: 20px;
  padding: 15px 20px;
  transition: 0.3s;
  text-decoration: none;
  z-index: 10;
}

.popup {
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: inline-block;
  background-color: #f2994a;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  border: 2px solid #f2994a;
  border-radius: 20px;
  padding: 10px 30px 10px 20px;
  text-decoration: none;
  visibility: hidden;
  width: 400px;
  z-index: 11;
}

.step {
  position: absolute;
  display: block;
  background-color: #f2994a;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  padding: 10px 30px 10px 20px;
  text-decoration: none;
  visibility: hidden;
  width: 348px;
}

.step p {
  padding-bottom: 10px;
}

.popup:target,
.step:target {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.step::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: #f2994a transparent transparent transparent;
}

.line {
  border-radius: 2.5px;
  height: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: #ffffff;
  width: 68px;
}

.red {
  background: rgba(255, 255, 255, 0.2);
}

.page {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

/* positions of each popup */

#first {
  top: -480px;
  margin-left: 16px;
  z-index: 3;
}

#second {
  top: -603px;
  left: 44%;
  margin-left: -174px;
  z-index: 5;
}

#third {
  top: -578px;
  left: 56%;
  margin-left: -174px;
  z-index: 7;
}

#fourth {
  top: -600px;
  left: 65%;
  margin-left: -174px;
  z-index: 9;
}

/* button styles for each popup */

.popup .close,
.step .close,
.mobile .close {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 15px;
  padding: 15px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

.mobile .close {
  color: #f2994a;
}

.mobile {
  display: none;
}

.next {
  color: #f2994a;
  position: relative;
  display: inline-block;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
}

/* white overlay */

.close-popup {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transition: display 0.5s, z-index 0.5;
  z-index: 1;
}

#first:target + .close-popup {
  display: block;
  z-index: 2;
  transition-delay: 0s;
}

#second:target + .close-popup {
  display: block;
  z-index: 4;
  transition-delay: 0s;
}

#third:target + .close-popup {
  display: block;
  z-index: 6;
  transition-delay: 0s;
}

#fourth:target + .close-popup {
  display: block;
  z-index: 8;
  transition-delay: 0s;
}

.popup:target + .close-popup {
  display: block;
  z-index: 10;
  transition-delay: 0s;
}

/* popup animations */

#first:target {
  animation: drop 0.8s ease forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  60% {
    transform: translateY(710px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(690px);
    opacity: 1;
  }
}

#second:target,
#third:target,
#fourth:target {
  animation: throw 0.8s ease forwards;
}

@keyframes throw {
  1% {
    opacity: 0;
    transform: translateY(740px);
  }
  60% {
    transform: translateY(670px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(690px);
    opacity: 1;
  }
}

/* mobile styling */

@media (max-width: 1600px) {
  .home {
    max-width: 1120px;
  }

  #first:target {
    animation: throw 0.8s ease forwards;
  }

  #first {
    top: -580px;
    margin-left: 174px;
    left: 5%;
  }

  #second {
    left: 42%;
  }

  #third {
    left: 58%;
  }

  #fourth {
    left: 68%;
  }

  .grid {
    max-width: 1120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "global asia"
      "europe namerica"
      "camerica samerica"
      "africa oceania"
      "meast meast";
  }
}

@media (max-width: 1400px) {
  #first {
    top: -580px;
    margin-left: 150px;
    left: 0;
  }
  #fourth {
    left: 72%;
  }
}

@media (max-width: 1200px) {
  .home {
    max-width: 720px;
  }

  .grid {
    max-width: 720px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "global"
      "asia"
      "europe"
      "namerica"
      "camerica"
      "samerica"
      "africa"
      "oceania"
      "meast";
  }

  .popup {
    display: none;
  }

  .tour .btn {
    display: none;
  }

  .nav #mobile-btn {
    display: inline-block;
    width: 59px;
    border-radius: 50%;
  }

  .nav #share-mobile {
    display: inline-block;
  }

  .nav .share {
    display: none;
  }

  .mobile {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    color: #f2994a;
    border: 2px solid #f2994a;
    border-radius: 35px;
    padding: 30px;
    text-decoration: none;
    width: 580px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
    z-index: 11;
  }

  .mobile .close {
    font-size: 28px;
    bottom: 25px;
  }

  .welcome {
    margin-bottom: 64px;
  }

  .color {
    color: #e73a5e;
  }

  .mobile h2 {
    line-height: 12px;
  }

  .mobile:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  .mobile:target + .close-popup {
    display: block;
    z-index: 10;
    transition-delay: 0s;
  }

  .step {
    display: none;
  }

  img {
    width: 450px;
  }
}

@media (max-width: 620px) {
  .mobile {
    font-size: 14px;
    line-height: 24px;
    border-radius: 30px;
    padding: 25px;
    width: 300px;
  }

  .mobile .close {
    font-size: 18px;
    bottom: 10px;
  }

  .welcome {
    margin-bottom: 40px;
  }

  .mobile h2 {
    font-size: 20px;
    line-height: 12px;
  }
}

@media (max-width: 510px) {
  .nav #mobile-btn {
    width: 41px;
  }
}

@media (max-width: 480px) {
  img {
    width: 300px;
  }

  .box {
    font-size: 18px;
  }

  .mobile {
    font-size: 13px;
    line-height: 22px;
  }

  .mobile .close {
    font-size: 16px;
    bottom: 10px;
  }
}

@media (max-width: 360px) {
  .nav #mobile-btn {
    width: 39px;
  }
}
