/* Poppins font */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* global styling */

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: -10px 0px 0px 0px;
}

iframe {
  width: 100%;
  height: 900px;
  border: 0px none transparent;
  overflow: hidden;
}

/* top navbar styling */

img {
  width: 800px;
  height: auto;
}

button {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #f2994a;
  border: 2px solid #f2994a;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.4s;
  margin-right: 10px;
}

button a {
  color: #f2994a;
  text-decoration: none;
  margin-left: 0px;
}

button:hover {
  box-shadow: 6px 6px 0px #f2994a;
  transition: 0.4s;
}

.nav {
  margin: 2em auto 2em;
  text-align: center;
}

/* scrollbar */

#box::-webkit-scrollbar {
  width: 0px; /* width of scrollbar */
}

#box::-webkit-scrollbar-thumb {
  background-color: #948f8f; /* foreground color of scrollbar */
}

#box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* background color of scrollbar */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* footer */

footer {
  font-size: 14px;
  text-align: center;
  color: #f2994a;
  padding: 15px;
}

/*mobile styling */

@media (max-width: 1600px) {
  .grid {
    max-width: 1120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "global asia"
      "europe namerica"
      "camerica samerica"
      "africa oceania"
      "meast meast";
  }
}

@media (max-width: 1200px) {
  .grid {
    max-width: 720px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "global"
      "asia"
      "europe"
      "namerica"
      "camerica"
      "samerica"
      "africa"
      "oceania"
      "meast";
  }

  img {
    width: 450px;
  }
}

@media (max-width: 740px) {
  .donation_form {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  img {
    width: 300px;
  }

  .donation_form {
    max-width: 300px;
    border-radius: 20px;
    padding: 2rem;
    border: 3px solid #f2994a;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 14px;
    font-style: italic;
  }

  .box {
    font-size: 18px;
  }

  button {
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
  }
}
