/* Poppins font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* global styling */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  margin: -10px 0px 0px 0px;
  font-weight: 600;
}

iframe {
  width: 100%;
  height: 900px;
  border: 0px none transparent;
  overflow: hidden;
}

/* top navbar styling */

img {
  width: 800px;
  height: auto;
}

.nav button {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #f2994a;
  border: 2px solid #f2994a;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.4s;
  margin-right: 10px;
}

.nav button a {
  color: #f2994a;
  text-decoration: none;
  margin-left: 0px;
}

.nav #mobile-btn {
  display: none;
}

.nav #share-mobile {
  display: none;
}

.nav .resources {
  z-index: 9;
}

.nav .feedback {
  z-index: 7;
}

.nav .share {
  z-index: 5;
}

.nav .homepage {
  z-index: 3;
}

.nav button:hover {
  box-shadow: 6px 6px 0px #f2994a;
  transition: 0.4s;
}

.nav {
  margin: 2em auto 2em;
  text-align: center;
}

/* scrollbar */

#box::-webkit-scrollbar {
  width: 0px; /* width of scrollbar */
}

#box::-webkit-scrollbar-thumb {
  background-color: #948f8f; /* foreground color of scrollbar */
}

#box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* background color of scrollbar */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* footer */

footer {
  font-size: 16px;
  text-align: center;
  color: #f2994a;
  padding: 20px;
}

footer .socials a {
  margin: 16px 10px 0 10px;
  display: inline-block;
  text-decoration: none;
  color: #f2994a;
  transition: 0.4s;
}

footer .socials a:hover {
  transform: scale(1.3);
}

/*mobile styling */

@media (max-width: 1600px) {
  .grid {
    max-width: 1120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "global asia"
      "europe namerica"
      "camerica samerica"
      "africa oceania"
      "meast meast";
  }
}

@media (max-width: 1200px) {
  .grid {
    max-width: 720px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "global"
      "asia"
      "europe"
      "namerica"
      "camerica"
      "samerica"
      "africa"
      "oceania"
      "meast";
  }

  img {
    width: 450px;
  }
}

@media (max-width: 740px) {
  .donation_form {
    max-width: 450px;
  }
}

@media (max-width: 510px) {
  .nav button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  img {
    width: 300px;
  }

  .donation_form {
    max-width: 300px;
    border-radius: 20px;
    padding: 2rem;
    border: 3px solid #f2994a;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 14px;
    font-style: italic;
  }

  .box {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .nav button {
    font-size: 16px;
    margin: 3px;
  }
}
