/* form styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h3 {
  font-size: 1.2rem;
  color: #818181;
}

label {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

#region,
#ideas {
  color: #f4a0a5;
}

#country,
#contact {
  color: #9eb1e1;
}

#org {
  color: #9ed1e1;
}

#link {
  color: #abcf8f;
}

.thanks {
  text-align: center;
  color: rgba(242, 153, 74, 0.9);
}

.thanks h2 {
  font-size: 24px;
}

header {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: rgba(242, 153, 74, 0.9);
}

.desc {
  font-size: 0.9rem;
  color: #818181;
}

.donation_form {
  border-radius: 40px;
  border: 5px solid #f2994a;
  width: 720px;
  margin: 5rem auto;
  padding: 3rem;
  color: #333333;
}

.group {
  margin: 0 auto 2rem auto;
  padding: 0.25rem;
}

.field {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #f2994a;
}

.submit-button:hover {
  box-shadow: 0px 0px 0px 0px;
}

@media (max-width: 740px) {
  .donation_form {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .donation_form {
    max-width: 300px;
    border-radius: 20px;
    padding: 2rem;
    border: 3px solid #f2994a;
  }

  .thanks {
    text-align: left;
  }

  .thanks h2 {
    font-size: 20px;
  }

  header {
    text-align: left;
  }

  header h1 {
    font-size: 24px;
  }

  .desc {
    font-size: 14px;
  }
}
