body{
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 36px;
  color: #F2994A;
  text-decoration: underline;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 200px;
}

.box {
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  height: 380px;
  width: 300px;
  margin: 10px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}

.box:hover{
  /* box-shadow: 2px 2px 10px #000000; */
}

.asia{
  color: #C4A400;
  background-color: #F8E16B;
}

.europe{
  color: #69B42F;
  background-color: #BBE19E;
}

.oceania{
  color: #4598B3;
  background-color: #9ED1E1;
}

.africa{
  color: #CC585E;
  background-color: #F4A0A5;
}

.northamerica{
  color: #D7986B;
  background-color: #FFCFAC;
}

.southamerica{
  color: #5271C1;
  background-color: #9EB1E1;
}
