/* global styling */

body {
  font-family: sans-serif;
}

h1 {
  margin: -10px 0px 0px 0px;
}

iframe {
  width: 100%;
  height: 700px;
  border: 0px none transparent;
}

/* top navbar styling stuff */

button {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  color: #f2994a;
  border: 2px solid #f2994a;
  border-radius: 20px;
  padding: 15px;
  transition: 0.4s;
  margin-right: 20px;
}

button a {
  color: #f2994a;
  text-decoration: none;
  margin-left: 0px;
}

button:hover {
  box-shadow: 6px 6px 0px #f2994a;
  transition: 0.4s;
}

.nav {
  display: center;
  margin: 2em auto 2em;
  text-align: center;
}

/* scrollbar stuff */

#box::-webkit-scrollbar {
  width: 0px; /* width of scrollbar */
}

#box::-webkit-scrollbar-thumb {
  background-color: #948f8f; /* foreground color of scrollbar */
}

#box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* background color of scrollbar */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* general box area styling */

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10%;
}

.box {
  flex-grow: 1;
  font-size: 24px;
  height: 280px;
  width: 300px;
  margin: 10px 10px 60px 10px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  transition: 0.5s;
  overflow-y: scroll;
}

.box a {
  color: inherit;
  text-decoration: none;
}

.box a:hover {
  transition: 0.4s;
  margin-left: 10px;
}

/* continent boxes */

.asia {
  color: #deba04;
  background-color: #f8e16b;
}

.asia h1 {
  color: #deba04; 
}

.asia:hover {
  box-shadow: 10px 10px 0px #c4a400;
}

.europe {
  color: #69b42f;
  background-color: #bbe19e;
}

.europe h1 {
  margin: -10px 0px 0px 0px;
  color: #69b42f;
}

.europe:hover {
  box-shadow: 10px 10px 0px #69b42f;
}

.oceania {
  color: #4598b3;
  background-color: #9ed1e1;
}

.oceania h1 {
  color: #9ed1e1;
  color: #4598b3;
}

.oceania:hover {
  box-shadow: 10px 10px 0px #4598b3;
}

.africa {
  color: #cc585e;
  background-color: #f4a0a5;
}

.africa h1 {
  color: #f4a0a5;
  color: #cc585e;
}

.africa:hover {
  box-shadow: 10px 10px 0px #cc585e;
}

.northamerica {
  color: #d7986b;
  background-color: #ffcfac;
}

.northamerica h1 {
  color: #ffcfac;
  color: #d7986b;
}

.northamerica:hover {
  box-shadow: 10px 10px 0px #d7986b;
}

.southamerica {
  color: #5271c1;
  background-color: #9eb1e1;
}

.southamerica h1 {
  color: #9eb1e1;
  color: #5271c1;
}

.southamerica:hover {
  box-shadow: 10px 10px 0px #5271c1;
}

/* footer stuff */

footer {
  font-size: 14px;
  text-align: center;
  color: #f2994a;
  padding: 15px;
}

/* mobile styling? */

@media (max-width: 1180px) {
  .flex {
    margin: 0px;
  }

  input[type='button'] {
    margin: 0px;
  }
}
